@import "tailwindcss";

body {
  background: linear-gradient(to right, aquamarine, #429e48, #3a373e4d);
  padding: 1rem;
}

.logo {
  color: #962790;
}

.location-icon {
  color: #962790;
  font-size: 20px;
}
.search-button {
  background-color: #c9a515d1;
}

.weather-desc {
  color: lime;
  font-style: italic;
}

.current-day {
  position: relative;
  box-shadow: inset 0px 0px 20px 20px rgb(13 6 114 / 25%);
}

.forecast-card {
  border-color: ghostwhite;
  box-shadow: inset 0px 0px 20px 20px rgb(13 6 114 / 25%);
}

.custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .08) ;
  z-index: 1;
  border-radius: 7px;
  width: 75%;
  margin-left: 6%;
  p {
    border-bottom: 1px dashed;
  }
}

.weather-alert {
  position: absolute;
  border: 1px solid red;
  height: 1.5rem;
  overflow: hidden;
  top: 25%;
  display: none;
}
.temp-alert {
  /* position: absolute; */
  font-size: 1rem;
  font-weight: bold;
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.forecast-card:hover{
  transform: scale(1.05);
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Arial, sans-serif;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #935f85;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.labels {
  display: flex;
  gap: 0.5px;
  font-weight: bold;
  margin-left: 20px;
}

.label {
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
