@import "tailwindcss";


body{
     background: linear-gradient(to right, aquamarine, turquoise, navy) ;
     padding:1rem
}


.location-icon{
    color:chartreuse;
    font-size: 20px;
}

.current-day{
  position: relative;
  box-shadow: inset 0px 0px 20px 20px rgb(13 6 114 / 25%);
}

.forecast-card{
  border-color: ghostwhite;
  box-shadow: inset 0px 0px 20px 20px rgb(13 6 114 / 25%);
}

/* .forecast-card:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}  */

.custom-options{
 display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

.weather-alert{
  position:absolute;
  border:1px solid red;
  height:1.5rem;
  overflow:hidden;
  top:25%;
  display:none;

}
.temp-alert{
  /* position: absolute; */
  font-size: 1rem;
  font-weight: bold;
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}